@font-face {
    font-family: 'Pixelify Sans';
    src: url('%sveltekit.assets%/font/PixelifySans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('%sveltekit.assets%/font/PixelifySans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('%sveltekit.assets%/font/PixelifySans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('%sveltekit.assets%/font/PixelifySans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


:root {
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
    box-sizing: border-box;
    color: #000000;
    background-color: #008080;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    user-select: none;
}

button {
    font-size: 12px;
}